<p-fieldset
  legend="Number Pipe"
  [toggleable]="true"
  [collapsed]="isCollapsed"
  class="p-1 w-full"
>
  <numbers-numeric-input
    [title]="'Net Sales'"
    [value]="value"
    [type]="'net'"
    (onChange)="onValueChange($event)"
    class="card flex flex-wrap justify-content-center gap-3"
  >
  </numbers-numeric-input>
  <h3 class="text-[1.5rem] pt-4">Number</h3>
  <div class="flex flex-wrap items-center justify-around gap-2">
    <p-card subheader="| number">
      {{ value | number }}
    </p-card>
    <p-card subheader="| number:'1.2-2'">
      {{ value | number : "1.2-2" }}
    </p-card>
    <p-card subheader="| number:'1.4-4'">
      {{ value | number : "1.4-4" }}
    </p-card>
  </div>
  <shared-check-code-btn
    [url]="
      'https://github.com/JoseAlbDR/Angular/tree/main/05-pipesApp/src/app/products/pages/numbers-page/components/numeric-pipes/components/number-pipe'
    "
  ></shared-check-code-btn>
</p-fieldset>
