<div class="card flex w-full mb-2">
  <p-fieldset
    legend="i18nPlural Pipe"
    [toggleable]="true"
    [collapsed]="isCollapsed"
    class="w-full"
  >
    <div class="flex flex-wrap gap-2">
      <p-button
        *ngFor="let client of clients"
        [label]="client"
        icon="pi pi-times"
        severity="danger"
        [outlined]="true"
        (click)="deleteClient(client)"
      ></p-button>
    </div>

    <h4>languaje | i18nSelect: languageMap</h4>
    <p>
      Currently we have
      <strong class="underline">{{
        clients.length | i18nPlural : clientsMap
      }}</strong>
    </p>
    <div class="flex flex-wrap gap-2 mt-10">
      <p-button
        label="Restore Clients"
        severity="success"
        (click)="restoreClients()"
      ></p-button>
      <p-button
        label="Delete Client"
        (click)="deleteClient()"
        severity="danger"
      ></p-button>
      <shared-check-code-btn
        [url]="
          'https://github.com/JoseAlbDR/Angular/tree/main/05-pipesApp/src/app/products/pages/uncommon-page/components/i18n-pipes/i18n-plural-pipe'
        "
      ></shared-check-code-btn>
    </div>
  </p-fieldset>
</div>
