<div class="card flex w-full">
  <p-fieldset
    [legend]="title"
    [toggleable]="true"
    [collapsed]="isCollapsed"
    class="p-1 w-full"
  >
    <div class="card flex flex-wrap justify-content-center gap-3">
      <p-calendar
        class="flex w-full sm:w-auto"
        inputStyleClass="text-center"
        [showIcon]="true"
        id="calendar"
        [(ngModel)]="date"
      >
      </p-calendar>
    </div>

    <div class="flex flex-col sm:grid sm:grid-cols-12 gap-3">
      <div class="col-span-6 sm:text-right">
        <p-card [header]="colTitle">
          <hr />
          <ol class="flex flex-col divide-y divide-gray-300 list-decimal">
            <li class="py-2">date</li>
            <li class="py-2">date | date:'long':'':'es-HN'</li>
            <li class="py-2">date | date:'long':'':'fr-CA'</li>
            <li class="py-2">date | date:'long':'':'it'</li>
            <li class="py-2">date | date:'long':'':'de'</li>
            <li class="py-2">date | date:'long':'':'ja'</li>
          </ol>
        </p-card>
      </div>

      <div class="col-span-6 text-left">
        <p-card [header]="result">
          <hr />
          <ol class="flex flex-col divide-y divide-gray-300 list-decimal">
            <li class="py-2">{{ date }}</li>
            <li class="py-2">{{ date | date : "long" : "" : "es-HN" }}</li>
            <li class="py-2">{{ date | date : "long" : "" : "fr-CA" }}</li>
            <li class="py-2">{{ date | date : "long" : "" : "it" }}</li>
            <li class="py-2">{{ date | date : "long" : "" : "de" }}</li>
            <li class="py-2">{{ date | date : "long" : "" : "ja" }}</li>
          </ol>
        </p-card>
      </div>
    </div>
    <shared-check-code-btn
      [url]="
        'https://github.com/JoseAlbDR/Angular/tree/main/05-pipesApp/src/app/products/pages/basics-page/components/date-pipes-locale'
      "
    ></shared-check-code-btn>
  </p-fieldset>
</div>
