<div class="card flex w-full mb-2">
  <p-fieldset
    [legend]="title"
    [toggleable]="true"
    [collapsed]="isCollapsed"
    class="p-1 w-full"
  >
    <div class="card flex flex-wrap justify-content-center gap-3 mb-2">
      <p-calendar
        class="flex w-full sm:w-auto"
        inputStyleClass="text-center"
        [showIcon]="true"
        id="calendar"
        [(ngModel)]="date"
      >
      </p-calendar>
    </div>

    <div class="flex flex-col sm:grid sm:grid-cols-2 gap-3">
      <div class="sm:text-right">
        <p-card [header]="title">
          <hr />
          <ol class="flex flex-col divide-y divide-gray-300 list-decimal">
            <div class="py-2">{{ date }}</div>
            <div class="sm:self-end">
              <li class="py-2 w-48 text-left">| date</li>
              <li class="py-2 w-48 text-left">| date:'short'</li>
              <li class="py-2 w-48 text-left">| date:'long'</li>
              <li class="py-2 w-48 text-left">| date:'MMMM'</li>
              <li class="py-2 w-48 text-left">| date:'MMMM dd, yyyy'</li>
              <li class="py-2 w-48 text-left">| date:'long':'GMT-6'</li>
              <li class="py-2 w-48 text-left">| date:'long':'GMT-4'</li>
            </div>
          </ol>
        </p-card>
      </div>

      <div>
        <p-card [header]="result">
          <hr />
          <ol class="flex flex-col divide-y divide-gray-300 list-decimal">
            <div class="py-2">{{ date }}</div>
            <li class="py-2">{{ date | date }}</li>
            <li class="py-2">{{ date | date : "short" }}</li>
            <li class="py-2">{{ date | date : "long" }}</li>
            <li class="py-2">{{ date | date : "MMMM" }}</li>
            <li class="py-2">{{ date | date : "MMMM dd, yyyy" }}</li>
            <li class="py-2">{{ date | date : "long" : "GMT-6" }}</li>
            <li class="py-2">{{ date | date : "long" : "GMT-4" }}</li>
          </ol>
        </p-card>
      </div>
    </div>
    <shared-check-code-btn
      [url]="
        'https://github.com/JoseAlbDR/Angular/tree/main/05-pipesApp/src/app/products/pages/basics-page/components/date-pipes'
      "
    ></shared-check-code-btn>
  </p-fieldset>
</div>
