<p-panel
  header="Date Pipes"
  [toggleable]="true"
  [collapsed]="true"
  [iconPos]="'start'"
  class="p-1"
>
  <div
    class="flex flex-col content-center align-middle p-inputgroup mb-4 w-auto sm:flex-row sm:w-[33%]"
  >
    <span class="p-inputgroup-addon self-start">
      <label for="input" class="p-inputgroup-addon">
        <i class="pi pi-pencil"></i>
      </label>
      <label for="calendar">Try it</label>
    </span>
    <p-calendar
      class="flex justify-center w-full sm:w-[33%]"
      inputStyleClass="text-center w-[1000px] p-4 sm:p-0"
      id="calendar"
      [(ngModel)]="date"
    ></p-calendar>
  </div>

  <div class="flex flex-col sm:grid sm:grid-cols-2 gap-3">
    <div>
      <p-card header="Date Pipe">
        <hr />
        <ol class="flex flex-col divide-y divide-gray-300 list-decimal">
          <li class="py-2">date</li>
          <li class="py-2">date | date</li>
          <li class="py-2">date | date:'short'</li>
          <li class="py-2">date | date:'long'</li>
          <li class="py-2">date | date:'MMMM'</li>
          <li class="py-2">date | date:'MMMM dd, yyyy'</li>
          <li class="py-2">date | date:'long':'GMT-6'</li>
          <li class="py-2">date | date:'long':'GMT-4'</li>
        </ol>
      </p-card>
    </div>

    <div>
      <p-card header="Result ">
        <hr />
        <ol class="flex flex-col divide-y divide-gray-300 list-decimal">
          <li class="py-2">{{ date }}</li>
          <li class="py-2">{{ date | date }}</li>
          <li class="py-2">{{ date | date : "short" }}</li>
          <li class="py-2">{{ date | date : "long" }}</li>
          <li class="py-2">{{ date | date : "MMMM" }}</li>
          <li class="py-2">{{ date | date : "MMMM dd, yyyy" }}</li>
          <li class="py-2">{{ date | date : "long" : "GMT-6" }}</li>
          <li class="py-2">{{ date | date : "long" : "GMT-4" }}</li>
        </ol>
      </p-card>
    </div>
  </div>
</p-panel>
