<div class="card flex w-full mb-2">
  <p-fieldset
    [legend]="title"
    [toggleable]="true"
    [collapsed]="false"
    class="w-full"
  >
    <div class="card flex flex-wrap justify-content-center gap-3 mb-2">
      <span class="p-input-icon-left">
        <i class="pi pi-pencil"></i>
        <input
          type="text"
          id="input"
          pInputText
          [(ngModel)]="input"
          (focusout)="onFocusOut($event)"
        />
      </span>
    </div>
    <div
      class="flex flex-col align-middle justify-center sm:grid sm:grid-cols-12 gap-3 mb-3"
    >
      <div class="col-span-6 text-center">
        <p-card subheader="| togglecase: 'lower'">
          <p>{{ input | toggleCase : true }}</p>
        </p-card>
      </div>
      <div class="col-span-6 text-center">
        <p-card subheader="| togglecase: 'upper'">
          <p>{{ input | toggleCase : false }}</p>
        </p-card>
      </div>
      <div class="col-span-12 text-center">
        <p-card [header]="input | toggleCase : isUpperCase">
          <p-toolbar>
            <div class="p-toobar-group-start">
              <p-button
                label="ToggleCase"
                icon="pi pi-search"
                (click)="toggleUpperCase()"
              ></p-button>
            </div>
            <div class="p-toolbar-group-end flex gap-2">
              <p-button
                [label]="
                  selectedLanguage | i18nSelect : languageMap.buttons.name
                "
                icon="pi pi-sort"
                styleClass="p-button-success"
              ></p-button>
              <p-button
                [label]="
                  selectedLanguage | i18nSelect : languageMap.buttons.fly
                "
                icon="pi pi-sort"
                styleClass="p-button-danger"
              ></p-button>
              <p-button
                [label]="
                  selectedLanguage | i18nSelect : languageMap.buttons.color
                "
                icon="pi pi-sort"
                styleClass="p-button-help"
              ></p-button>
            </div>
          </p-toolbar>
          <div class="grid">
            <div>
              <p-table [value]="heroes" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th>
                      {{
                        selectedLanguage | i18nSelect : languageMap.table.name
                      }}
                    </th>
                    <th>
                      {{
                        selectedLanguage | i18nSelect : languageMap.table.fly
                      }}
                    </th>
                    <th>
                      {{
                        selectedLanguage | i18nSelect : languageMap.table.color
                      }}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hero>
                  <tr>
                    <td>{{ hero.name }}</td>
                    <td>{{ canFlyMessage(hero.canFly) }}</td>
                    <td
                      [ngStyle]="{
                        'background-color': hero.color
                      }"
                    ></td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-card>
      </div>
    </div>
    <shared-check-code-btn
      [url]="
        'https://github.com/JoseAlbDR/Angular/tree/main/05-pipesApp/src/app/products/pages/custom-page/components/toggle-case-pipe'
      "
    ></shared-check-code-btn>
    <shared-check-code-btn
      [content]="linkContent"
      [url]="
        'https://github.com/JoseAlbDR/Angular/blob/main/05-pipesApp/src/app/products/pages/pipes/'
      "
    ></shared-check-code-btn>
  </p-fieldset>
</div>
