<div class="card flex w-full mb-2">
  <p-fieldset
    legend="Toggle Case Pipe"
    [toggleable]="true"
    [collapsed]="isCollapsed"
    class="w-full"
  >
    <div class="card flex flex-wrap justify-content-center gap-3 mb-2">
      <span class="p-input-icon-left">
        <i class="pi pi-pencil"></i>
        <input
          type="text"
          id="input"
          pInputText
          [(ngModel)]="input"
          (focusout)="onFocusOut($event)"
        />
      </span>
    </div>
    <div
      class="flex flex-col align-middle justify-center sm:grid sm:grid-cols-12 gap-3 mb-3"
    >
      <div class="col-span-6 text-center">
        <p-card subheader="| togglecase: 'lower'">
          <p>{{ input | toggleCase : "lower" }}</p>
        </p-card>
      </div>
      <div class="col-span-6 text-center">
        <p-card subheader="| togglecase: 'upper'">
          <p>{{ input | toggleCase : "upper" }}</p>
        </p-card>
      </div>
    </div>
    <shared-check-code-btn
      [url]="
        'https://github.com/JoseAlbDR/Angular/tree/main/05-pipesApp/src/app/products/pages/custom-page/components/toggle-case-pipe'
      "
    ></shared-check-code-btn>
    <shared-check-code-btn
      [content]="linkContent"
      [url]="
        'https://github.com/JoseAlbDR/Angular/blob/main/05-pipesApp/src/app/products/pages/pipes/toggle-case.pipe.ts'
      "
    ></shared-check-code-btn>
  </p-fieldset>
</div>
