<p-panel header="Uncommon pipes" class="p-1">
  <p>Included pipes in Angular - Usually in Common Module</p>
  <shared-toggle-collapsed
    (togglePanel)="togglePanels($event)"
  ></shared-toggle-collapsed>
</p-panel>

<div class="flex flex-wrap md:grid md:grid-cols-12 gap-2 w-full">
  <uncommon-i18n-plural-pipe
    [clients]="clients"
    class="col-span-6"
    (onRestorePluralClients)="restoreClients()"
    [isCollapsed]="isCollapsed"
  ></uncommon-i18n-plural-pipe>

  <uncommon-i18n-select-pipe
    class="col-span-6"
    [isCollapsed]="isCollapsed"
  ></uncommon-i18n-select-pipe>

  <uncommon-slice-pipe
    class="col-span-12"
    [clients]="clients"
    (onRestoreSliceClients)="restoreClients()"
    [isCollapsed]="isCollapsed"
  ></uncommon-slice-pipe>

  <uncommon-key-value-pipe
    class="col-span-6"
    [person]="person"
    [isCollapsed]="isCollapsed"
  ></uncommon-key-value-pipe>

  <uncommon-async-pipe
    [isCollapsed]="isCollapsed"
    class="col-span-6 w-full"
  ></uncommon-async-pipe>

  <uncommon-json-pipe
    class="col-span-6"
    [person]="person"
    [isCollapsed]="isCollapsed"
  ></uncommon-json-pipe>
</div>
