<p-panel header="Uncommon pipes" class="p-1">
  <p>Included pipes in Angular - Usually in Common Module</p>
</p-panel>

<div class="flex flex-wrap md:grid md:grid-cols-12 gap-2 w-full">
  <p-card class="col-span-6 w-full">
    <uncommon-i18n-plural-pipe
      [clients]="clients"
      class="w-full"
      (onRestorePluralClients)="restoreClients()"
    ></uncommon-i18n-plural-pipe>
  </p-card>
  <p-card class="col-span-6 w-full">
    <uncommon-i18n-select-pipe></uncommon-i18n-select-pipe>
  </p-card>
  <p-card class="col-span-6 w-full">
    <uncommon-slice-pipe
      [clients]="clients"
      (onRestoreSliceClients)="restoreClients()"
    ></uncommon-slice-pipe>
  </p-card>
  <p-card class="col-span-6 w-full">
    <uncommon-json-pipe [person]="person"></uncommon-json-pipe>
  </p-card>
  <p-card class="col-span-6 w-full">
    <uncommon-key-value-pipe [person]="person"></uncommon-key-value-pipe>
  </p-card>
  <p-card class="col-span-6 w-full">
    <uncommon-async-pipe></uncommon-async-pipe>
  </p-card>
</div>
