<p-card header="What is an Angular pipe?">
  <p>
    Angular pipes are a feature in the Angular framework that allows you to
    transform and format data in your templates. They are used to apply simple
    transformations to values before displaying them in the user interface.
    Pipes are a convenient way to perform common operations, such as formatting
    dates, converting text to uppercase or lowercase, and filtering arrays.
  </p>
  <shared-check-code-btn
    [content]="'More Info'"
    [url]="'https://angular.io/guide/pipes'"
  ></shared-check-code-btn>
</p-card>
