<div class="card h-100 shadow-sm">
  <shared-lazy-image
    class="d-flex align-items-center justify-content-center h-100"
    [alt]="country.name.common"
    [url]="country.flags.svg"
  >
  </shared-lazy-image>
  <div class="col card-body">
    <ul class="list-group list-group-flush">
      <li class="d-flex justify-content-between alignt-items-center">
        <div class="d-flex aling-items-center justify-content-center gap-1">
          <span>#{{ index + 1 }}</span>
          <span>{{ country.flag }}</span>
        </div>
        <h5 class="card-title text-center">{{ country.capital }}</h5>
      </li>
      <li class="list-group-item">Country: {{ country.name.common }}</li>
      <li class="list-group-item">
        Population: {{ country.population | number }}
      </li>
      <a
        class="btn btn-primary w-100 mt-2"
        [routerLink]="['/countries/by/', country.cca3]"
      >
        More Info
      </a>
    </ul>
  </div>
</div>
