<h2>Countries</h2>
<hr />

<ul class="list-group">
  <!-- <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item cursor-pointer"
  >
    Home Page
  </li>
  <li
    routerLink="about"
    routerLinkActive="active"
    class="list-group-item cursor-pointer"
  >
    About Page
  </li>
  <li
    routerLink="contact"
    routerLinkActive="active"
    class="list-group-item cursor-pointer"
  >
    Contact Page
  </li> -->
  <li
    routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item cursor-pointer"
  >
    By Capital
  </li>
  <li
    routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item cursor-pointer"
  >
    By Country
  </li>
  <li
    routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item cursor-pointer"
  >
    By Region
  </li>
</ul>
