<div *ngIf="country">
  <div class="row">
    <div class="col-12">
      <h2>
        Country: <strong>{{ country.name.common }}</strong>
        <hr />
      </h2>
    </div>
  </div>

  <div class="row flex-column flex-lg-row gap-3">
    <div id="flag" class="col-4 d-flex flex-column w-100">
      <h3>Flag</h3>
      <shared-lazy-image
        class="d-flex align-items-center justify-content-center h-100"
        [alt]="country.name.common"
        [url]="country.flags.svg"
      ></shared-lazy-image>
    </div>

    <div class="col">
      <countries-country-info [country]="country"></countries-country-info>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <hr />
    </div>
  </div>

  <div class="row mt-2 flex-column flex-lg-row gap-3">
    <div id="coat-of-arms" class="col-4 d-flex flex-column w-100">
      <h3>Coat of arms</h3>

      <shared-lazy-image
        class="d-flex align-items-center justify-content-center h-100"
        [alt]="country.name.common"
        [url]="country.coatOfArms.svg!"
        [isLoadingImage]="false"
      ></shared-lazy-image>
    </div>

    <countries-country-more-info
      class="col"
      [country]="country"
    ></countries-country-more-info>
  </div>

  <div class="row mt-2">
    <div class="col">
      <h3>Translations</h3>

      <div class="d-flex flex-wrap">
        <span
          *ngFor="let key of getObjectKeys(country.translations)"
          class="badge bg-primary m-1"
          >{{ country.translations[key].common }}</span
        >
      </div>
    </div>
  </div>
</div>
