<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="./favicon.ico" alt="angular icon" />
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex gap-3">
      <div class="flags">
        <p-button
          icon="fi fi-gb"
          [rounded]="true"
          [text]="true"
          (click)="setLanguage('en')"
        ></p-button>
        <p-button
          icon="fi fi-es"
          [rounded]="true"
          [text]="true"
          (click)="setLanguage('es')"
        ></p-button>
      </div>
      <p-button
        *ngIf="lightTheme; else light"
        icon="pi pi-moon"
        (click)="changeTheme('soho-dark')"
      ></p-button>
      <ng-template #light>
        <p-button
          icon="pi pi-sun"
          severity="warning"
          (click)="changeTheme('soho-light')"
        ></p-button>
      </ng-template>
    </div>
  </ng-template>
</p-menubar>
