<ul class="list-group">
  <h3>Info</h3>
  <li class="list-group-item">
    <strong>Population: </strong>{{ country?.population | number }}
  </li>
  <li class="list-group-item"><strong>Code: </strong> {{ country?.cca3 }}</li>
  <li class="list-group-item">
    <strong>Capital: </strong> {{ country?.capital }}
  </li>
  <li class="list-group-item">
    <strong>Region: </strong> {{ country?.region }}
  </li>
  <li class="list-group-item" *ngIf="country?.borders">
    <strong>Borders: </strong>
    <span *ngFor="let border of country?.borders"
      ><a
        class="badge bg-info bg-gradient m-1"
        [routerLink]="['/countries/by/', border]"
        >{{ border }}</a
      ></span
    >
  </li>
</ul>
