<ng-template #loading>
  <shared-loader></shared-loader>
</ng-template>

<div *ngIf="country; else loading">
  <ul class="list-group">
    <h3>Info</h3>

    <countries-country-info-item
      [name]="'Population'"
      [content]="country.population | number"
    ></countries-country-info-item>

    <countries-country-info-item
      [name]="'Code'"
      [content]="country.cca3"
    ></countries-country-info-item>

    <countries-country-info-item
      [name]="'Region'"
      [content]="country.region"
    ></countries-country-info-item>

    <countries-country-info-item
      [name]="'Capital'"
      [content]="country.capital.join(', ')"
    ></countries-country-info-item>

    <li class="list-group-item" *ngIf="country.borders">
      <strong>Borders: </strong>
      <span *ngFor="let border of country.borders"
        ><a
          class="badge bg-info bg-gradient m-1"
          [routerLink]="['/countries/by/', border]"
          >{{ border }}</a
        ></span
      >
    </li>
  </ul>
</div>
