<div *ngIf="country">
  <ul class="list-group">
    <h3>Info</h3>

    <countries-country-info-item
      [name]="'Population'"
      [content]="country.population | number"
    ></countries-country-info-item>

    <countries-country-info-item
      [name]="'Code'"
      [content]="country.cca3"
    ></countries-country-info-item>

    <countries-country-info-item
      [name]="'Region'"
      [content]="country.region"
    ></countries-country-info-item>

    <countries-country-info-item
      [name]="'Capital'"
      [content]="country.capital.join(', ')"
    ></countries-country-info-item>

    <li class="list-group-item" *ngIf="country.borders">
      <strong>Borders: </strong>
      <span *ngFor="let border of country.borders"
        ><button
          class="btn btn-outline-primary m-1"
          [routerLink]="['/countries/by/', border]"
          [disabled]="isLoading$ | async"
        >
          {{ border }}
        </button></span
      >
    </li>
  </ul>
</div>
