<h3>Heros List</h3>

<div *ngIf="deletedHero; else noDeletedHero">
  <h3>
    Deleted Hero <small class="text-danger">{{ deletedHero }}</small>
  </h3>
</div>

<ng-template #noDeletedHero>
  <h3>Did not delete any Hero</h3>
</ng-template>

<div>
  <button
    *ngIf="heroName.length !== 0"
    (click)="deleteLastHero()"
    class="btn btn-outline-danger"
  >
    Delete last hero
  </button>
  <button (click)="resetHeros()" class="btn btn-outline-primary mx-2">
    Reset
  </button>
</div>

<div class="mt-2 list-group">
  <li *ngFor="let name of heroName" class="list-group-item">{{ name }}</li>
</div>
