<ng-template #loading>
  <shared-loading-spinner></shared-loading-spinner>
</ng-template>

<div *ngIf="country; else loading">
  <ul class="list-group">
    <h3>More Info</h3>

    <countries-country-info-item
      [name]="'Alt. Spellings'"
      [content]="country.altSpellings.join(', ')"
    ></countries-country-info-item>

    <countries-country-info-item
      [name]="'Latitude / Longitude'"
      [content]="country.latlng.join(', ')"
    ></countries-country-info-item>

    <countries-country-info-item
      [name]="'Independent'"
      [content]="country.independent ? 'Yes' : 'No'"
    ></countries-country-info-item>

    <countries-country-info-item
      [name]="'Timezones'"
      [content]="country.timezones.join(', ')"
    ></countries-country-info-item>

    <countries-country-info-item
      [name]="'Google Maps'"
      [link]="country.maps.googleMaps"
      [content]="'Google Map'"
    ></countries-country-info-item>

    <countries-country-info-item
      [name]="'Open Street Map'"
      [link]="country.maps.openStreetMaps"
      [content]="'Open Street Map'"
    ></countries-country-info-item>

    <li class="list-group-item">
      <strong>Languajes: </strong>
      <span
        class="badge bg-info bg-gradient m-1"
        *ngFor="let value of getObjectValues(country.languages)"
        class="badge bg-info m-1"
        >{{ value }}</span
      >
    </li>

    <li class="list-group-item">
      <strong>Currencies: </strong>
      <span
        *ngFor="let key of getObjectKeys(country.currencies)"
        class="badge bg-info m-1"
        >{{ country.currencies[key].name }}-{{
          country.currencies[key].symbol
        }}</span
      >
    </li>
  </ul>
</div>
