<app-info [type]="'custom'"></app-info>
<p-panel
  [header]="selectedLanguage | i18nSelect : languageMap.title"
  class="p-1"
>
  <p>{{ selectedLanguage | i18nSelect : languageMap.content }}</p>
  <shared-toggle-collapsed
    (togglePanel)="togglePanels($event)"
  ></shared-toggle-collapsed>
</p-panel>
<div class="flex flex-wrap md:grid md:grid-cols-12 gap-2 w-full">
  <custom-toggle-case-pipe
    class="col-span-12"
    [input]="selectedLanguage | i18nSelect : languageMap.placeholder"
    [linkContent]="selectedLanguage | i18nSelect : languageMap.pipeLink"
    [title]="selectedLanguage | i18nSelect : languageMap.title"
    [isCollapsed]="isCollapsed"
  ></custom-toggle-case-pipe>
</div>
