<h2>By {{ type }}</h2>
<hr />

<div class="row">
  <div class="col text-center">
    <!-- Search -->

    <ng-container *ngIf="type === 'Region'; else searchBox">
      <button
        (click)="searchBy(region)"
        *ngFor="let region of regions"
        class="btn btn-outline-primary mx-2 my-2 my-sm-0"
        [ngClass]="{ active: activeRegion === region }"
        #regionButton
      >
        {{ region }}
      </button>
    </ng-container>

    <ng-template #searchBox>
      <shared-search-box
        (onDebounce)="searchBy($event)"
        (onSearch)="searchBy($event)"
        [placeholder]="'Search by ' + type"
        [disabled]="isLoading"
      ></shared-search-box>
    </ng-template>
  </div>
</div>

<hr />

<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
<countries-table
  class="row align-items-center justify-content-center"
  [countries]="countries"
></countries-table>
