<h2>By {{ type }}</h2>
<hr />

<div class="row">
  <div class="col text-center">
    <!-- Search -->

    <countries-button-search-by
      *ngIf="type === 'Region'; else searchBox"
      (onClick)="searchBy($event)"
      [activeRegion]="activeRegion"
      [initialValue]="initialValue"
      [regions]="regions"
      [type]="type"
    ></countries-button-search-by>

    <ng-template #searchBox>
      <shared-search-box
        (onDebounce)="searchBy($event)"
        [placeholder]="'Search by ' + type"
        [disabled]="isLoading"
        [initialValue]="initialValue"
      ></shared-search-box>
    </ng-template>
  </div>
</div>

<hr />

<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
<countries-table
  class="row align-items-center justify-content-center"
  [countries]="countries"
></countries-table>
