<p-panel header="Numbers Pipes" class="p-1">
  <p>Included pipes in Angular - Usually in Common Module</p>
  <shared-toggle-collapsed
    (togglePanel)="togglePanels($event)"
  ></shared-toggle-collapsed>
</p-panel>

<div class="flex flex-wrap md:grid md:grid-cols-12 gap-2">
  <numeric-number-pipe
    [isCollapsed]="isCollapsed"
    class="col-span-6"
  ></numeric-number-pipe>
  <numeric-percentage-pipe
    class="col-span-6"
    [isCollapsed]="isCollapsed"
  ></numeric-percentage-pipe>
  <numeric-currency-pipe
    [isCollapsed]="isCollapsed"
    class="col-span-12"
  ></numeric-currency-pipe>
</div>

<!-- <numbers-numeric-pipes></numbers-numeric-pipes> -->
