<app-info></app-info>
<p-panel
  [header]="selectedLanguage | i18nSelect : languageMap.title"
  class="p-1"
>
  <p>{{ selectedLanguage | i18nSelect : languageMap.content }}</p>
  <shared-toggle-collapsed
    (togglePanel)="togglePanels($event)"
  ></shared-toggle-collapsed>
</p-panel>

<div class="flex flex-wrap md:grid md:grid-cols-12 gap-2">
  <numeric-number-pipe
    [isCollapsed]="isCollapsed"
    [title]="selectedLanguage | i18nSelect : languageMap.numberPipe.title"
    class="col-span-6"
  ></numeric-number-pipe>
  <numeric-percentage-pipe
    class="col-span-6"
    [isCollapsed]="isCollapsed"
    [title]="selectedLanguage | i18nSelect : languageMap.percentagePipe.title"
  ></numeric-percentage-pipe>
  <numeric-currency-pipe
    [isCollapsed]="isCollapsed"
    [title]="selectedLanguage | i18nSelect : languageMap.currencyPipe.title"
    class="col-span-12"
  ></numeric-currency-pipe>
</div>

<!-- <numbers-numeric-pipes></numbers-numeric-pipes> -->
