<p-panel header="Basic Pipes" class="p-1">
  <p>Included pipes in Angular - Usually in Common Module</p>
</p-panel>

<div class="p-inputgroup bg-[#282936] mb-4 w-auto md:w-[33%]">
  <span class="p-inputgroup-addon">
    <label for="input" class="p-inputgroup-addon">
      <i class="pi pi-pencil"></i>
    </label>
    <label for="input">Try it</label>
  </span>
  <input
    class="px-3"
    type="text"
    id="input"
    pInputText
    [(ngModel)]="input"
    (focusout)="onFocusOut($event)"
  />
</div>

<div class="flex flex-col sm:grid sm:grid-cols-12 gap-3 mb-3">
  <div class="col-span-4">
    <p-card header="| uppercase">
      {{ input | uppercase }}
    </p-card>
  </div>

  <div class="col-span-4">
    <p-card header="| lowercase">
      {{ input | lowercase }}
    </p-card>
  </div>

  <div class="col-span-4">
    <p-card header="| titlecase">
      {{ input | titlecase }}
    </p-card>
  </div>
</div>

<div class="p-inputgroup bg-[#282936] mb-4 w-auto md:w-[33%]">
  <span class="p-inputgroup-addon">
    <label for="input" class="p-inputgroup-addon">
      <i class="pi pi-pencil"></i>
    </label>
    <label for="calendar">Try it</label>
  </span>
  <p-calendar
    class="flex justify-center"
    inputStyleClass="text-center grow w-[1000px]"
    id="calendar"
    [(ngModel)]="date"
  ></p-calendar>
</div>

<div class="flex flex-col sm:grid sm:grid-cols-2">
  <div>
    <p-card header="Date Pipe">
      <hr />
      <ul class="flex flex-col divide-y divide-gray-300">
        <li class="py-2">date</li>
        <li class="py-2">date | date</li>
        <li class="py-2">date | date:'short'</li>
        <li class="py-2">date | date:'long'</li>
        <li class="py-2">date | date:'MMMM'</li>
        <li class="py-2">date | date:'MMMM dd, yyyy'</li>
        <li class="py-2">date | date:'long':'GMT-6'</li>
        <li class="py-2">date | date:'long':'GMT-4'</li>
      </ul>
    </p-card>
  </div>

  <div>
    <p-card header="Result ">
      <hr />
      <ul class="flex flex-col divide-y divide-gray-300">
        <li class="py-2">{{ date }}</li>
        <li class="py-2">{{ date | date }}</li>
        <li class="py-2">{{ date | date : "short" }}</li>
        <li class="py-2">{{ date | date : "long" }}</li>
        <li class="py-2">{{ date | date : "MMMM" }}</li>
        <li class="py-2">{{ date | date : "MMMM dd, yyyy" }}</li>
        <li class="py-2">{{ date | date : "long" : "GMT-6" }}</li>
        <li class="py-2">{{ date | date : "long" : "GMT-4" }}</li>
      </ul>
    </p-card>
  </div>
</div>
