<p-panel [toggleable]="true">
  <h1>Basic Pipes</h1>
  <p>Included pipes in Angular - Usually in Common Module</p>
</p-panel>

<div class="flex flex-col sm:grid sm:grid-cols-3">
  <div>
    <p-card header="uppercase" class="capitalize">
      {{ nameLower | uppercase }}
    </p-card>
  </div>
  <div>
    <p-card header="lowercase" class="capitalize">
      {{ nameUpper | lowercase }}
    </p-card>
  </div>
  <div>
    <p-card header="titlecase" class="capitalize">
      {{ fullName | titlecase }}
    </p-card>
  </div>
</div>
