<app-info></app-info>
<p-panel
  [header]="selectedLanguage | i18nSelect : languageMap.title"
  class="p-1"
>
  <p>{{ selectedLanguage | i18nSelect : languageMap.content }}</p>
  <shared-toggle-collapsed
    (togglePanel)="togglePanels($event)"
  ></shared-toggle-collapsed>
</p-panel>

<basics-text-pipes
  [isCollapsed]="isCollapsed"
  [title]="selectedLanguage | i18nSelect : languageMap.textPipes.title"
  [input]="selectedLanguage | i18nSelect : languageMap.placeholder"
></basics-text-pipes>
<basics-date-pipes
  [isCollapsed]="isCollapsed"
  [title]="selectedLanguage | i18nSelect : languageMap.datePipes.title"
  [result]="selectedLanguage | i18nSelect : languageMap.result"
></basics-date-pipes>
<basics-date-pipes-locale
  [isCollapsed]="isCollapsed"
  [colTitle]="selectedLanguage | i18nSelect : languageMap.datePipes.title"
  [title]="selectedLanguage | i18nSelect : languageMap.datePipesLocale"
  [result]="selectedLanguage | i18nSelect : languageMap.result"
></basics-date-pipes-locale>
