<div
  *ngIf="errorMsg; else empty"
  class="col alert alert-warning text-center mx-3"
>
  {{ errorMsg }}
</div>

<ng-template #empty>
  <div
    *ngIf="countries.length === 0; else table"
    class="col alert alert-warning text-center mx-3"
  >
    No countries to show
  </div>
</ng-template>

<ng-template #table>
  <div
    class="my-2 country-card align-self-start"
    *ngFor="let country of countries; let i = index"
  >
    <countries-country-card
      [country]="country"
      [index]="i"
    ></countries-country-card>
  </div>
</ng-template>
