<h4>List</h4>
<ul class="list-group">
  <li
    *ngFor="
      let char of charList;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      let isOdd = odd
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-dark': isLast,
      ' list-group-item-primary': isEven
    }"
  >
    <div>
      <span class="text-primary">{{ i + 1 }}. </span>
      <span>{{ char.name }} - </span>
      <strong>Power:</strong>
      <span>{{ char.power }} </span>
    </div>

    <button (click)="deleteCharacter(char.id)" class="btn btn-danger">X</button>
  </li>
</ul>
