<h1>{{ name }}</h1>

<dl>
  <td>Name:</td>
  <dd>{{ name }}</dd>

  <td>Age:</td>
  <dd>{{ age }}</dd>

  <td>Method:</td>
  <dd>{{ heroDescription }}</dd>

  <td>Capitalize:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button
  *ngIf="name === 'ironman'"
  (click)="changeHero()"
  class="btn btn-primary mx-2"
>
  Change Name
</button>

<button *ngIf="age === 45" (click)="changeAge()" class="btn btn-primary">
  Change Age
</button>

<button (click)="resetPage()" class="btn btn-primary mx-2">Reset</button>
