<h1>DBZ Characters</h1>
<hr />

<div class="row">
  <div class="col">
    <h4>List</h4>
    <ul class="list-group">
      <li class="list-group-item">Krillin - 500</li>
      <li class="list-group-item">Gokuy - 10000</li>
    </ul>
  </div>
  <div class="col">
    <h4>Add Character</h4>
    <form class="row">
      <input class="form-control mb-2" type="text" placeholder="Name" />
      <input class="form-control mb-2" type="number" placeholder="Power" />
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
