<div class="bg-black divide-x p-3" id="sidebar">
  <h3 class="text-white">GifsApp</h3>
  <hr class="text-white" />
  <div class="list-group list-reset">
    <button
      (click)="searchTag(tag)"
      *ngFor="let tag of tags"
      class="list-group-item list-group-item-action d-flex align-items-center justify-content-between animate__animated animate__backInRight"
    >
      {{ tag | titlecase }}
      <span
        ><button (click)="deleteTag(tag)" class="btn btn-danger zindex-fixed">
          X
        </button></span
      >
    </button>
  </div>
</div>
