<p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
  <h4>languaje | i18nSelect: languageMap</h4>
  <p>{{ selectedLanguage.code | i18nSelect : languageMap }}</p>
  <p-dropdown
    [options]="languages"
    [(ngModel)]="selectedLanguage"
    optionLabel="name"
    placeholder="Select a Language"
  ></p-dropdown>
  <uncommon-check-code-btn
    [url]="
      'https://github.com/JoseAlbDR/Angular/blob/main/05-pipesApp/src/app/products/pages/uncommon-page/components/i18n-pipes/i18n-select-pipe/i18n-select-pipe.component.ts'
    "
  ></uncommon-check-code-btn>
</p-fieldset>
